body {
  width: 100%;
  height: 100%;
  background-image: url('/images/aqua_heart.png');
  background-size: cover;
  background-repeat: round;
}

#title-form {
  border-radius: 16px;
}

.container {
  background-color: white;
  opacity: .8;
  margin: 20px auto;
  width: 90%;
  padding: 0px 20px 20px 20px;
  border-radius: 16px;
}

#submit_buttons, #new-question-border *, #complete-survey-border * {
  background-color: #fff;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
}

#survey-buttons:focus,
#submit_buttons:focus, 
#new-question:focus,
#complete-survey:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

#survey-buttons:hover,
#survey-buttons:focus,
#submit_buttons:hover,
#submit_buttons:focus, 
#new-question:focus,
#new-question:hover,
#complete-survey:focus,
#complete-survey:hover {
  background-color: #ddd;
  text-decoration: none;
}

#edit-button {
  padding: 5px 18px;
}

#survey-url {
  padding: 16px 0 8px 0;
}

#new-question-border, #complete-survey-border {
  border-color: none;
  padding-left: 16px;
}


#title_header {
  padding: 0 0 0 24px;
}

#survey-buttons {
  font-family: sans-serif;
  text-decoration: none;
  color: black;
  background-color: #fff;
  border-color: #ddd;
}

nav {
  width: 100%;
  height: 40px;
  font-weight: bold;
}

nav .brand, nav .brand a {
  margin-top: -5px;
  margin-left: 25px;
  font-size: 28pt;
  text-decoration: none;
  color: #444;
  width: 30%;
  display: inline-block;
}

nav ul {
  display: inline-block;
  width: 60%;
  text-align: right;
}

nav li {
  margin-right: 25px;
  display: inline;
}

nav li a {
  color: #333;
  text-decoration: none;
}

nav li a:hover {
  text-decoration: underline;
}

form label {
  font-weight: bold;
  margin-right: 20px;
}

input {
  margin-bottom: 10px;
}

.errors {
  color: red;
}

form.quirks {
  display: inline-block;
}

.submit {
  text-align: center;
}

.label {
  font-weight: bold;
  float: left;
  text-align: right;
  margin-right: 20px;
  width: 200px;
}

.watermark {
  opacity: 0.0;
  padding: 70% 0 0 8%;
}

.no-close .ui-dialog-titlebar-close {
  display: none;
}