<div>
  <h1>Create A Survey</h1>
</div>

<form action="/surveys" id="new_survey"  method="post">
  <input type="submit" id="create_survey" value="Create Survey">
  <br>  
  <input type="text" name="title" placeholder="Enter the title of your survey here" size="50">
  <br>
  <input type="text" class="survey_question" name="question" placeholder="Enter a question here" size="50">
  <input type="text" class="survey_answer" name="answer[]" placeholder="Enter a possible answer here" size="50">
  <input type="text" class="survey_answer" name="answer[]" placeholder="Enter a possible answer here" size="50">  
</form>
<button id="add_answer">Add An Answer</button>
<br><br>
<button id="add_question">Add A Question</button>
