<div id="question-form" title="Add a Question">

  <form >
    <button style="float:right" id="add_choice">Add another choice!</button>
    <br><br>
    <div id="making_questions">
    <fieldset>
      <label for="content">Content: </label>
      <input type="text" id="question_content" name="content" placeholder="Enter your question here" size="50" required>
      <input type="hidden" id="survey_id" name="survey_id" placeholder="<%= @survey.id %>">
      Answer Choices: 
      <input type="text" name="choice" placeholder="Add an answer choice!">
      <input type="text" name="choice" placeholder="Add an answer choice!">
    </div>
  </form>
</div>