<div id="dialog-form" title="Create a Survey">

<form>
  <fieldset>
    <label for="title">Title:</label>
    <input type="text" name="title" placeholder="Enter the title of your survey here" size="50" required>
</form>

</div>