  <h1>Welcome to BeautiPoll!</h1>
  <p><i>The best survey site on the web, since August 2013</i></p>

  <% if @error && @error.length > 0 %>
    <div id="myModal" class="reveal-modal">
      <h1>Error!</h1>
      <% @error.each do |error| %>
        <p><%= error %></p>
      <% end %>
      <a class="close-reveal-modal">&#215;</a>
    </div>
  <% end %>